    .slackey-regular {
      font-family: "Slackey", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 60px;
      text-align: center;
      margin: 0;
      color: #615857;
    }